%% -*- erlang -*-
{erl_opts, [debug_info]}.
{xref_checks, [undefined_function_calls]}.
{deps, [
  {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "4fb2a6face6e7d6ff1dd34a02c3bd8b63d972624"}},
  {sockjs, ".*", {git, "git://github.com/sockjs/sockjs-erlang.git", "master"}},
  {mimetypes, ".*", {git, "git://github.com/spawngrid/mimetypes.git", "master"}},
  {json, ".*", {git, "git://github.com/hio/erlang-json.git", "master"}},
  {reloader, "0.1", {git, "http://github.com/bjnortier/reloader.git", "master"}}
  ]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
