body { background: #fff; font: 11pt/1.5 Tahoma, Arial, sans-serif; overflow-x: hidden; }

a, a:link, a:visited, a:hover  { text-decoration: none; color: #06f;
	border-bottom: dotted 1px #999; }
a.c, a.c:link, a.c:visited, a.c:hover { border: 0; }

h1 { font: 13pt/1.5 Arial, sans-serif; font-weight: normal; }
h2 { font: 12pt/1.5 Arial, sans-serif; font-weight: normal; }
h3 { font: 11pt/1.5 Arial, sans-serif; font-weight: normal; color: #090; }
h4 { font: 8pt/1.5 Arial, sans-serif; font-weight: normal; color: #666; }

small { font: 8pt/1.5 Tahoma, Arial, sans-serif; color: #999; }

.no { display: none; }

.l { float: left; }
.r { float: right; }
.ar { text-align: right; }

.loginbox { color: #333; left: 50%; margin-left: -150px; z-index: 15;
	position: absolute; width: 300px; top: 50%; margin-top: -150px; 
	background: #fff; }
.header { text-align: center; }
.fe { padding-bottom: 8px; text-align: right; }	
.fm { padding: 24px 32px; }
#login_result { color: #900; }

.fi { padding: 8px 0px; }
.sm { font-size: 9pt; color: #888; text-align: center; }
.ln { font-size: 9pt; color: #006; border-bottom: dashed 1px #090; cursor: pointer;
	margin-left: 24px; }

.overlay { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;
	overflow: hidden; background: #000; z-index: 5; opacity: 0.75; }
.emsg { position: absolute; top: 0px; left: 0px; width: 100%; 
	overflow: hidden; background: #ffc; z-index: 15; color: #600; 
	padding: 14px 24px; text-align: center; font: 16pt/1.5 Tahoma, Arial, sans-serif; }

.vroom { padding: 0px 480px 0px 0px; }
#vroom_item { padding: 18px 24px; }
.vpanel { position: absolute; height: 100%; left: 100%; margin-left: -480px; top: 0;
	padding: 32px; background: #ccc; overflow: hidden; border-left; solid #bbb 1px; }
ul.vlist li { padding: 8px 0px; }
.vtype { cursor: pointer; }
.vbox { padding: 12px 32px; background: none; font-size: 10pt; }
.ssbutton { margin-top: 32px; }
.fout { width: 352px; height: 388px; background: #000; }
.vlink { font: 9pt/1.5 Courier, monospace; color: #009; margin: 8px 12px; }
.clform { padding: 8px 0px; }

.web { padding-left: 24px; background: url('../i/icons/page_white_flash.png') no-repeat; }
.app { padding-left: 24px; background: url('../i/icons/application_put.png') no-repeat; }
.cam { padding-left: 24px; background: url('../i/icons/webcam.png') no-repeat; }

.bstart { padding: 12px 24px; background: url('../i/icons/add.png') no-repeat left center;
	cursor: pointer; font-weight: bold; }
.bstop { padding: 12px 24px; background: url('../i/icons/stop.png') no-repeat left center;
	cursor: pointer; font-weight: bold; }

.headline { padding: 12px; float: left; }
.others { padding: 8px; background: #eee;  float: left; border: solid 1px #fff; }
.fin_lead { width: 352px; height: 288px; background: #000; }
.fin { width: 176px; height: 144px; background: #000; }

.hidepanel { width: 26px; height: 26px; float: right; cursor: pointer;
	background: url('../i/icons/database_go.png') no-repeat center center; }
.showpanel { width: 26px; height: 26px; float: right; cursor: pointer;
	background: url('../i/icons/database.png') no-repeat center center; }
	
table.toppanel { width: 100%; background: #eee url(../i/tp_bg.png) repeat-x bottom left; }	

td.roaster { width: 220px; overflow-y: auto; padding: 12px 8px; vertical-align: top; }
.rtitle { font-size: 8pt; padding: 0px 0px 4px 16px; border-top: solid 1px #ddd; }
.rrtitle { color: #fff; background: #900; padding: 2px 7px; }
#roaster li { padding: 4px 0px 4px 16px; font-size: 10pt; line-height: 9pt; color: #444; }
.rlogin { color: #999; font-size: 7pt; line-height: 8pt; }

td.chat { padding: 12px 8px; vertical-align: top; }
.chatroom { padding: 8px 14px; border: solid 1px #ddd; overflow-y: auto; height: 98px;
	font: 9pt/1.5 Tahoma, Arial, sans-serif; margin-botton: 12px; background: #fff; }
.ichat { width: 93%; }
.me { font-weight: bold; color: #009; }
.notme { font-weight: normal; color: #900; }

td.myvideo { width: 192px; padding: 12px 8px; vertical-align: middle; }
.myvideoitem { width: 176px; height: 144px; background: #000; }

td.sp { background: #ccc url(../i/tp_bg.png) repeat-x bottom left;
		width: 20px; padding: 2px; vertical-align: middle; }

.maincontrol { padding: 32px 48px; }
.lf { float: left; width: 48%; }
.rf { float: right; width: 48%; }

.secret { background: #efe; padding: 16px 24px; }
.adduser { padding: 16px 24px; }

#userslist { padding: 24px 32px; }
#userslist li { padding: 8px 12px; }
.delete_user { float: right; color: #c00; text-decoration: underline; cursor: pointer; 
	font-size: 8pt; }
.user_name { font-size: 16pt; }
.user_login { font-size: 9pt; color: #999; } 

#result { padding: 32px; text-align: center; }


